body {
    background-color: #f0f2f5;
}

.layui-input {
    width: 500px;
}

.layui-btn:nth-of-type(1) {
    margin-left: 230px !important;
}

.use-name {
    cursor: not-allowed;
    background-color: #f5f5f5;
}